<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">

            <table class="table">
                <thead>
                    <tr>
                        <th>id</th>
                        <th>email</th>
                        <th>first_name</th>
                        <th>last_name</th>
                        <th>avatar</th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let i of userinfo.data">
                        <td>{{i.id}}</td>
                        <td>{{i.email}}</td>
                        <td>{{i.first_name}}</td>
                        <td>{{i.last_name}}</td>
                        <td>{{i.avatar}}</td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>