<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">API integrated apps</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/">View Passenger</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/product">View Product</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  routerLink="/userInfo">View User info</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  routerLink="/usPublicData">View US public data</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  routerLink="/userData">View user data</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  routerLink="/todos">To dos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  routerLink="/quotes">Quotes</a>
          </li>
          
        </ul>
      </div>
    </div>
  </nav>