<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
        
        <table class="table">
            <thead>
                <tr>
                    <th>id</th>
                    <th>firstName</th>
                    <th>lastName</th>
                    <th>maidenName</th>
                    <th>age</th>
                    <th>gender</th>
                    <th>email</th>
                    <th>phone</th>
                    <th>birthDate</th>
                    <th>bloodGroup</th>
                    <th>height</th>
                    <th>weight</th>
                    <th>hair color</th>
                    <th>Latitude</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let i of data.users ">
                    <td>{{i.id}}</td>
                    <td>{{i.firstName}}</td>
                    <td>{{i.lastName}}</td>
                    <td>{{i.maidenName}}</td>
                    <td>{{i.age}}</td>
                    <td>{{i.gender}}</td>
                    <td>{{i.email}}</td>
                    <td>{{i.phone}}</td>
                    <td>{{i.birthDate}}</td>
                    <td>{{i.bloodGroup}}</td>
                    <td>{{i.height}}</td>
                    <td>{{i.weight}}</td>
                    <td>{{i.hair.color}}</td>
                    <td>{{i.address.coordinates.lat}}</td>
                </tr>
            </tbody>

        </table>
        
        </div>
    </div>
</div>