<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">


            <table class="table">

                <thead>
                    <tr>
                        <th>ID Nation</th>
                        <th>Nation</th>
                        <th>ID Year</th>
                        <th>Year</th>
                        <th>Population</th>
                        <th>Slug Nation</th>
                    </tr>

                </thead>

                <tbody>
                    <tr *ngFor="let i of usData.data">
                        <td>{{i['ID Nation']}}</td>
                        <td>{{i.Nation}}</td>
                        <td>{{i['ID Year']}}</td>
                        <td>{{i.Year}}</td>
                        <td>{{i.Population}}</td>
                        <td>{{i['Slug Nation']}}</td>
                    </tr>
                </tbody>

            </table>
        </div>
    </div>
</div>